form{
    display: flex;
    flex-direction: column;
    font-size: theme('fontSize.h45');
    text-align: right;
}

.formItem{
    margin-bottom: 1rem;
    display: flex;
}


label{
    width: 130px;
    margin: 0 32px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.input {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    height: 32px;
    flex-grow: 1;
    min-width: 295px;
    max-width: 355px;
    padding: 0 10px;
    margin-right: 60px;
}

input:focus{
    border: 2px solid rgb(0, 0, 0);
}

.formItem button{
    width: 60px;
    height: 32px;
    font-size: theme('fontSize.h6');
    border-radius: 6px;
    background-color: #4cb5f9;
    color: #fff;
    font-weight: bolder;
    margin-top: 1rem;
}