
.post{
    width: 470px;
    margin: 12px auto;
    padding: 0 0 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    overflow: visible;
}

.header{
    display: flex;
    align-items: center;
    padding: 8px;
}

.header .imgBox{
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
}

.header .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body{
    padding: 0 1px;
    overflow: hidden;
}

.postImage .imgBox{
    width: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 3px;
    overflow: hidden;
}

.postImage .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .username:hover{
    color: #bbb;
    cursor: pointer;
}

.footer .funcs{
    display: flex;
}

.funcs .icon{
    padding: 8px;
    cursor: pointer;
}

.icon:hover svg{
    color: #888;
}

.footer .funcs svg{
    font-size: 24px;
    display: block;
    /* transform: scale(-1, 1); */
}

.footer .postText{
    display: flex;
    margin-bottom: 8px;
}

.footer .commentLink{
    color: #737373;
    text-align: left;
    margin-bottom: 8px;
}

.footer .formComment{
    display: flex;
    align-items: center;
}

.formComment textarea{
    flex-grow: 1;
}

.formComment textarea:focus{
    border: none;
    outline: none;
}

