*{
  /* outline: 1px solid rgba(055, 0, 0, .1); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

.App{
  text-align: center;
  display: flex;
}

.navbar{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  height: 100vh;
  padding: 16px 10px;
  background-color: #fff;
}

main{
  flex-grow: 1;
  background-color: #fff;
  padding-left: 69px;
}





/* .postForm{
  margin: 20px auto;
  padding: 30px;
  width: 300px;
  border: 2px solid royalblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  font-weight: bold;
}

.postForm input{
  margin: 10px 0;
  padding: 10px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

.postForm button{
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
}

.postForm button:hover{
  background-color: rgb(65, 105, 225, .8);
  box-shadow: 2px 2px 2px #555;
}

.postForm button:active{
  background-color: royalblue;
  box-shadow: none;
}

.errMsg{
  color: red;
}



.postPage{
  display: flex;
}

.postPage .leftSide, .postPage .rightSide{
  flex: 1 1 0
}

.postPage .rightSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postPage .rightSide .addCommentContainer{
  display: flex;
}

.postPage .rightSide .addCommentContainer input{
  flex: 1 1 0;
  height: 30px;
  border-radius: 5px 0 0 5px;
  border: 2px solid royalblue;
  padding-left: 5px;
}

.postPage .rightSide .listOfComments .commentBody{
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
}

.postPage .rightSide .addCommentContainer button{
  background-color: royalblue;
  border: none;
  color: #fff;
  width: 80px;
}

.postPage .rightSide .addCommentContainer button:hover{
  background-color: rgb(65, 105, 225, .8);
}

.postPage .rightSide .addCommentContainer button:active{
  background-color: royalblue;
  border: none;
  color: #fff;
  width: 80px;
}

.comment{
  display: flex;
}

.comment .commentUsername{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment .commentBody{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

